.animatezoom {
    animation: animatezoom 0.6s;
  }

    
  .animatesildein{
    animation: slide-in 0.7s;

  }


  @keyframes animatezoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }


