.animatezoom {
  animation: animatezoom 0.6s;
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* .animatezoom:hover {
  transform: scale(1.05);
  transition: all 0.35s ease-in-out;
} */

.w3modal {
  z-index:3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;

}
.w3modalcontent {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 40%;
  height: 80%;
  border-radius: 12px;
  padding: 0.01em 16px;
  overflow: scroll;
  overflow-x: hidden;

}
.w3card4,
.w3hovershadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.w3container,
.w3panel {
  padding: 0.01em 16px;
}
.w3panel {
  margin-top: 16px;
  margin-bottom: 16px;
}
.w3teal,
.w3hoverteal:hover {
  color: #fff !important;
  background-color: #009688 !important;
  border-radius: 12px;

}
.w3button:hover {
  color: #000 !important;
  cursor: pointer;
}
.w3displaytopright {
  position: absolute;
  right: 10px;
  top: 0;
  
}

.w3button{
    color: #000 !important;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
  
}

/* Scrollbar Styling */
.w3modalcontent::-webkit-scrollbar {
    width: 10px;
}
 
.w3modalcontent::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.w3modalcontent::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
}