.heroContainerbackground{
    min-width: 100%;
    min-height: 350px;
    background-image: url('https://archive.factordaily.com/wp-content/uploads/2018/02/Amazon_Home_Services_Lead.jpg');
    background-size: cover;
    object-fit: fill;
    background-position: center;
    border-radius: 12px;
    padding: 2rem;
   background-blend-mode: multiply;
   background-color:rgb(55 65 81/0.6);
   display: flex;
   flex-direction: column;
   justify-content: center;
   background:  -webkit-linear-gradient(0deg, #fd295d, #fb865d 70%);

    
}
.heroContainerbackground button{
    width: 150px;
}
.heroContainer{
    min-width: 100%;
    min-height: 350px;
}
.title{
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}
.description{
color: #fff;
width: 60%;
font-weight: 500;
}