.profileCover{
    width: 100%;
    background-color: brown;
    border-radius: 12px;
    min-height:300px ;
    background-image: url('https://wallpaperaccess.com/full/235372.jpg');
    background-size: cover;
    background-position: center;
}

.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: relative;
    top: -100px;
}

.profileimage img {
    max-width: 180px;
    max-height: 180px;
    border-radius: 50%;
    border: solid 2px #fff;
    box-sizing: border-box;

}

.actionsection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    width: 25%;
}
.actionButton{
    display: flex;
    justify-content: space-around;
    border: solid 2px #e5e5e5;
    border-radius: 8px;
    min-width: 120px;
    padding: 0.5rem;
    width: 45%;
    margin-right: 10px;
}
.Name{
    position: relative;
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    margin-left: 10px;
}