.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    min-height: 100vh;
    min-width: 100vw;
    background-position: center;
    background-size: contain;
    background:  -webkit-linear-gradient(0deg, #fd295d, #fb865d 100%);

  }
  